# OS/editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Python
.venv/
venv/
__pycache__/
*.pyc

# Zephyr / west / build outputs
build/
build-*/
zephyr/.cache/
zephyr/build/
zephyr/
.west/
modules/
bootloader/
tools/
tmp/
.cache/

# C/C++ artifacts
*.o
*.obj
*.a
*.elf
*.map
*.hex
*.bin
*.lst

# Logs
*.log
